/*=============== GENERICOS =============*/

*{
  margin: 0;
  padding: 0;
  clear: both;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

a{
  font-family: none;
}
a:hover{
  color:none;
}

html, body{
  width: 100%;
  height: 100%;
}

input[type=text]{
  height: 50px;
  outline: none;
  border: none;
}

/*=============== CLASSES DE APOIO =============*/
.center-horizontal{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-vertical{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.bg-background{
  background-color: #f4f4f4;
}

.bg-blue{
  background-color: #6563bd;
}

.header{
  height: 70px;
}


/*=============== IMAGENS =============*/

.logo-clima-tempo{
  background-size: cover;
  width: 300px;
  height: 40px;
  align-self:center;
}

.btn-search>button{
  background-image: url('../images/icons/search.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
}

.btn-search>button:hover{
  box-shadow: 0px 3px 4px #ccc;
  background-color: #f3f3f3;
}


/*=============== FORM =============*/

.form-weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;

}

/*=============== INFORMAÇAO DO TEMPO =============*/

.info-weather{
  background-color: rgb(212, 212, 212);
  border-radius: 5px;
  box-shadow: 0px  5px 10px #ccc;
  box-sizing: border-box;
}

.info-weather>#info-head-weather{
  background-color: rgb(255, 255, 255);
  padding: 8px;
  margin-bottom: 8px;
}

.info-weather>#info-body-weather{
  padding: 8px;
}

/*=============== ICONES =============*/

.icon{
  object-fit: cover;
  
}
